<!DOCTYPE html>
<html ng-app="SocialUI">
  <head>
    <meta charset="utf-8">
    <title>Social UI Exercise | Hunter Beckmann</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="./app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  </head>
  <body ng-controller="SocialController as social">
    <div class="container">
    <div class="page-header">
      <h1>Social UI <small>by Hunter Beckmann</small>
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#" ng-click="social.filterActivity('newest')">Newest - Oldest</a></li>
            <li><a href="#" ng-click="social.filterActivity('oldest')">Oldest - Newest</a></li>
          </ul>
        </div>

        <div class="btn-group pull-right">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Provider <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#" ng-click="social.filterActivity('all')">All</a></li>
            <li class="divider"></li>
            <li><a href="#" ng-click="social.filterActivity('facebook')">Facebook</a></li>
            <li><a href="#" ng-click="social.filterActivity('twitter')">Twitter</a></li>
            <li><a href="#" ng-click="social.filterActivity('tumblr')">Tmblr</a></li>
            <li><a href="#" ng-click="social.filterActivity('instagram')">Instagram</a></li>
          </ul>
        </div>

      </h1>
    </div>
      <div ng-repeat="actor in social.activities_filtered | limitTo:social.viewingLimit.limit">
        <div class="panel panel-default">
          <div class="panel-body">

            <div class="row">
              <div class="col-sm-4">
                <span class="label label-primary" ng-if="actor.provider === 'facebook'">Facebook</span>
                <span class="label label-info" ng-if="actor.provider === 'twitter'">Twitter</span>
                <span class="label label-success" ng-if="actor.provider === 'instagram'">Instagram</span>
                <span class="label label-primary" ng-if="actor.provider === 'tumblr'">Tumblr</span>
                <a href="{{actor.actor_url}}">{{actor.actor_username}}</a>
              </div>
              <div class="col-sm-4 col-sm-offset-4">
                <p class="text-right">{{actor.activity_date_formatted}}</p>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-2">
                <a href="{{actor.actor_url}}"><img class="media-object" ng-src="{{actor.actor_avator}}" width="64"/></a>
              </div>
              <div class="col-sm-8 panel panel-default">
                <span ng-if="actor.activity_message.indexOf('http') === -1 ">{{actor.activity_message}}</span>
                <span ng-if="actor.activity_message.indexOf('http') > -1 "><img class="img-responsive" ng-src="{{actor.activity_message}}" /></span>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="row">
        <button type="button" ng-click="social.viewingLimit.add()" class="btn btn-primary col-xs-4 col-xs-offset-4" style="margin-bottom: 50px;">See More</button>
      </div>

    </div>
  </body>
</html>
