<!DOCTYPE html>
<html ng-app="SocialUI">
  <head>
    <meta charset="utf-8">
    <title>Social UI Exercise | Hunter Beckmann</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="./app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  </head>
  <body ng-controller="SocialController as social">
    <div class="container">
    <div class="page-header">
      <h1>Social UI <small>by Hunter Beckmann</small></h1>
    </div>
      <div ng-repeat="actor in social.activities">
        <div class="panel panel-default">
          <div class="panel-body">

            <div class="row">
              <div class="col-sm-4">
                <span class="label label-primary" ng-if="actor.provider === 'facebook'">Facebook</span>
                <span class="label label-info" ng-if="actor.provider === 'twitter'">Twitter</span>
                <span class="label label-success" ng-if="actor.provider === 'instagram'">Instagram</span>
                <span class="label label-primary" ng-if="actor.provider === 'tumblr'">Tumblr</span>
                {{actor.actor_username}}
              </div>
              <div class="col-sm-4 col-sm-offset-4">
                <p class="text-right">{{actor.activity_date_formatted}}</p>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-2">
                <img class="media-object" ng-src="{{actor.actor_avator}}" width="64"/>
              </div>
              <div class="col-sm-10 panel panel-default">
                <span ng-if="(actor.provider === 'facebook' || actor.provider === 'twitter') && actor.activity_message.indexOf('http') === -1 ">{{actor.activity_message}}</span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
